html {
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

/* home*/

.home {
    background-color: rgb(242, 242, 242);
    margin-left: -10px;
    margin-right: -10px;
    display: block;
}

.caixa1 {
    background-color: #EFE2FA;
    width: 50%;
    float: inline-start;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa2 {
    background-image: url(imagens/pexels-monstera-production-7794360.jpg);
    background-repeat: no-repeat;
    /* background-position: left top; */
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    width: 50%;
    float: inline-end;
    height: 450px;
}

.caixa1_1 {
    background-color: rgba(0, 0, 0, 0);
    margin: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.caixa1_1 h1{
    font-size: 50px;
}
.caixa2_1 {
    margin: 50px;
}

.caixa2_1 img{
    margin-top: -10px;
}

/* sobre mim */

.sobre_mim {
    background-color: #8F9FE4;
    /* width: 100%; */
    display: flex;
    top: 500px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
    height: 600px;
}

.caixa3 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_picture_home {
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.caixa4 {
    width: 50%;
    display: flex;
    align-items: center;
}

.caixa4 p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 75%;
}


/* Linguagens */

.linguagens {
    background-color: #EFE2FA;
    height: 450px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -23px;
}

.linguagens_caixa {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5%; */
}

.linguagens_caixa img {
    height: 100px;
}

.html {
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: #8F9FE4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.css {
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: #8F9FE4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.js {
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: #8F9FE4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#linguagens {
    padding: 25px;
    border-radius: 50px;
}

#linguagens:hover{
    cursor: pointer;
    width: 250px;
    height: 350px;
}

/* meus projetos */

.meus_projetos {
    background-image: url(imagens/pexels-monstera-production-7794360.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* filter: blur(2px);
    -webkit-filter: blur(5px); */
    height: 450px;
    margin-left: -10px;
    margin-right: -10px;
    /* margin-bottom: 500px; */
    margin-top: -23px;
    height: 650px;
    padding: 1px;
}

.caixa_branca {
    /* font-family: "Poppins", sans-serif;
    font-weight: 100; */
    /* font-style: normal; */
    filter: none;
    background-color: rgba(210, 187, 255, 0.283);
    backdrop-filter: blur(5px);
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.github img {
    width: 200px;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.final {
    
    background-color: rgb(72, 72, 72);
    color: #8F9FE4;
    margin: 0%;
    width: 100%;
    height: 100%;
}

.final h1 {
    margin: 0%;
}

/* responsividade */
@media (min-width: 950px) {

    .close-icon {
        display: none;
    }

    .sidebar {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        width: 100%;
        height: 60px;
        display: block;
        /* padding-top: 10px; */
        background-color: white;
        /* position: fixed; */
        top: 0;
        left: 0;
        right: 0;
    }
    
    .sidebar ul {
        display: inline;
        float: right;
        padding-right: 20px;
    }
    
    .sidebar li {
        list-style-type: none;
        display: inline;
    }
    
    .sidebar a {
        padding: 5px;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    .sidebar img {
        width: 50px;
        float: left;
        padding-left: 30px;
    }
    
    .contato {
        padding: 10px 20px;
        background-color: #BCA5D4;
        border-radius: 50px;
    }
    
    .cabecalho ul li:nth-child(6) a {
        color: rgb(255, 255, 255);
    }
    .contato:hover {
        background-color: #8F9FE4;
    }




    /* ausdfusodufaud */

    
}


/* Estilos para telas menores de 950px */
@media (max-width: 950px) {

    .github {
        flex-direction: column;
    }

    .menu-toggle {
        display: none; /* Escondendo por padrão */
        cursor: pointer;
        width: 30px;
        margin: 10px;
        padding: 5px;
    }

    .bar {
        width: 25px;
        height: 3px;
        border-radius: 50px;
        background-color: rgb(58, 58, 58);
        margin: 6px;
    }

    /* Estilos para o botão "X" */
    .close-toggle {
        /* display: none;*/
        cursor: pointer;
        padding: 10px;
        margin-left: 5px;

    }

    .close-icon {
        color: black;
        font-size: 20px;
    }

    /* Estilos para a barra lateral */
    .sidebar {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: white;
        z-index: 1000;
        overflow-x: hidden;
        /* padding-top: 60px; */
    }

    .sidebar ul {
        padding-left: 0;
    }

    .sidebar li {
        margin: 10px;
        list-style-type: none;
    }

    .sidebar li:hover {
        border-radius: 50px;
        margin: 10px;
        background-color: #8F9FE4;
    }

    .sidebar a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .sidebar img {
    display: none;
    }

    /* Mostrando a barra lateral quando o menu hamburguer é clicado */
    .menu-open .sidebar {
        display: block;
    }

    /* Exibindo o botão "X" quando a barra lateral está aberta */
    .menu-open .menu-toggle {
        display: none;
    }

    .menu-open .close-toggle {
        display: block;
    }

    .menu-toggle {
        display: block; /* Exibindo o botão hamburguer */
    }

    .cabecalho ul {
        display: none; /* Escondendo a lista de navegação */
    }

    .sidebar {
        display: none; /* Escondendo a barra lateral */
    }

    .menu-open .sidebar {
        display: block; /* Mostrando a barra lateral quando o menu hamburguer é clicado */
    }


    /* auidfhuahusd */

    .caixa2_1 img{
        margin: auto;
        padding-top: 100px;
        padding-bottom: 100px;
        height: 150px;
    }
    .sobre_mim {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 10%;
    }

    .sobre_mim img {
        margin: 25px;
    }

    .caixa3 {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .caixa4 {
        width: 100%;
        margin-left: 15%;
    }
}

@media (max-width: 400px) {
    .caixa2 {
        display: none;
    }

    .caixa1 {
        width: 100%;
    
    }

    .caixa1_1 {
        text-align: center;
    }

}